/* 770px */

@media screen and (max-width: 770px) {
  nav {
    display: none;
  }
  #nav-770 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    color: #fff;
  }
  #nav-770 .logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  #nav-770 .dropdown {
    order: -1;
    color: #fff;
  }
  #nav-770 .get {
    margin-left: auto;
  }
  #nav-770 .navbar-toggle {
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 24px;
    color: #fff;
    z-index: 1100;
    cursor: pointer;
  }
  #nav-770 ul {
    list-style: none;
    display: none;
    flex-direction: column;
    width: 100%;
    align-content: center;
    margin: 0;
  }
  #nav-770 ul.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 15%;
    background-color: #0f0c1e !important;
    padding: 10px 0;
    z-index: 1000;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    transform: translate(0, 0);
  }
  #nav-770 ul li {
    margin: 0 1rem;
    text-align: center;
    padding: 20px;
  }
  #nav-770 .navbar-toggle {
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 24px;
    color: #fff;
    z-index: 1100;
  }

  /* chat */

  .chat-f {
    top: 360px;
    right: 60px;
    width: 50px;
    height: 50px;
  }

  /* footer */

  .footer {
    padding: 20px;
  }
  .footer-logo {
    margin-bottom: 12px;
  }
  .footer-text {
    font-size: 10px;
    width: 300px;
    margin-bottom: 10px;
  }
  .footer-a-help {
    font-size: 12px;
    margin-bottom: 6px;
  }
  .footer-a {
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 8px;
  }
  .footer-icon {
    gap: 14px;
    margin: 10px 0;
  }
  .footer-icon img {
    width: 22px;
    height: 22px;
  }
  .footer-hr {
    height: 0.75px;
    margin: 14px 0;
  }
  .copyright {
    font-size: 9px;
  }
  .footer-help {
    width: 100px;
  }
  .help-details-b {
    font-size: 17px;
  }
  .help-details-t {
    font-size: 16px;
  }
}

/* 400px */

@media screen and (max-width: 400px) {
  #nav-770 {
    font-size: 14px;
    padding: 20px 40px;
  }
  #nav-770 ul.active {
    max-width: 300px;
    transform: translate(15%, 10%);
    left: 0%;
    top: 30px;
  }
  .get a {
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 14px;
  }

  /* chat */

  .chat-f {
    bottom: 7rem;
    right: 3rem;
    width: 40px;
    height: 40px;
  }

  /* footer */

  .footer {
    padding: 12px;
  }
  .footer-logo {
    margin-bottom: 12px;
  }
  .footer-text {
    font-size: 9.5px;
    width: 260px;
    margin-bottom: 10px;
  }
  .footer-a-help {
    font-size: 12px;
    margin-bottom: 6px;
  }
  .footer-a {
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 8px;
  }
  .footer-icon {
    gap: 10px;
    margin: 10px 0;
  }
  .footer-icon img {
    width: 15px;
    height: 15px;
  }
  .footer-hr {
    height: 0.5px;
    margin: 12px 0;
  }
  .copyright {
    font-size: 8px;
  }
  .footer-help {
    width: 100px;
  }
  .help-details-b {
    font-size: 14px;
  }
  .help-details-t {
    font-size: 12px;
  }
  .help-item {
    font-size: 15px;
  }
}
