/* 770px */

@media screen and (max-width: 770px) {
  .navbar-toggle {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 23px;
    right: 20rem;
    font-size: 24px;
  }
  ul {
    display: none;
    flex-direction: column;
    width: 100%;
    align-content: center;
  }
  ul.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #0f0c1e !important;
    padding: 10px 0;
    z-index: 1000;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    transform: translate(30%, 10%);
  }
  ul li {
    margin: 1rem 0;
    text-align: center;
  }
  ul li {
    margin: 0 3rem;
    padding: 20px;
  }
  nav.pdbh.scrolled .logo-text-w,
  nav.pdbh.scrolled .dropdown-content,
  nav.pdbh.scrolled .dropdown,
  nav.scrolled ul li a {
    color: #fff;
  }
  nav.pdbh ul li:nth-child(4) a {
    color: #ffc107;
  }

  /* chat */

  .chat-f {
    top: 360px;
    right: 60px;
    width: 50px;
    height: 50px;
  }

  /* footer */

  .footer {
    padding: 20px;
  }
  .footer-logo {
    margin-bottom: 12px;
  }
  .footer-text {
    font-size: 10px;
    width: 300px;
    margin-bottom: 10px;
  }
  .footer-a-help {
    font-size: 12px;
    margin-bottom: 6px;
  }
  .footer-a {
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 8px;
  }
  .footer-icon {
    gap: 14px;
    margin: 10px 0;
  }
  .footer-icon img {
    width: 22px;
    height: 22px;
  }
  .footer-hr {
    height: 0.75px;
    margin: 14px 0;
  }
  .copyright {
    font-size: 9px;
  }
  .footer-help {
    width: 100px;
  }
  .help-details-b {
    font-size: 17px;
  }
  .help-details-t {
    font-size: 16px;
  }
}

/* 400px */

@media screen and (max-width: 400px) {
  nav {
    font-size: 14px;
    padding: 20px 10px;
  }
  .navbar-toggle {
    right: 12rem;
  }
  ul.active {
    max-width: 300px;
    transform: translate(15%, 10%);
  }
  .get a {
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 14px;
  }

  /* chat */

  .chat-f {
    bottom: 7rem;
    right: 3rem;
    width: 40px;
    height: 40px;
  }

  /* footer */

  .footer {
    padding: 12px;
  }
  .footer-logo {
    margin-bottom: 12px;
  }
  .footer-text {
    font-size: 9.5px;
    width: 260px;
    margin-bottom: 10px;
  }
  .footer-a-help {
    font-size: 12px;
    margin-bottom: 6px;
  }
  .footer-a {
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 8px;
  }
  .footer-icon {
    gap: 10px;
    margin: 10px 0;
  }
  .footer-icon img {
    width: 15px;
    height: 15px;
  }
  .footer-hr {
    height: 0.5px;
    margin: 12px 0;
  }
  .copyright {
    font-size: 8px;
  }
  .footer-help {
    width: 100px;
  }

  .help-details-b {
    font-size: 16px;
  }
  .help-details-t {
    font-size: 14px;
  }
}
